#sidebar.flex.flex-col.justify-between.border-r-5.h-full{data: { turbo_permanent: "true" }}
  %div 
    = link_to root_path, class: "w-full flex justify-center" do
      = lucide_icon "eye", class: "size-10"
    = link_to root_path, class: "w-full flex justify-center" do
      = lucide_icon "calendar", class: "size-10"
    = link_to root_path, class: "w-full flex justify-center" do
      = lucide_icon "chart-column-big", class: "size-10"
    = link_to root_path, class: "w-full flex justify-center" do
      = lucide_icon "settings", class: "size-10"
  = link_to root_path, class: "w-full flex justify-center" do
    = lucide_icon "circle-user-round", class: "size-10"