= form_with(model: activity_category) do |form|
  - if activity_category.errors.any?
    %div{style: "color: red"}
      %h2= "#{pluralize(activity_category.errors.count, "error")} prohibited this activity_category from being saved:"

      %ul
        - activity_category.errors.each do |error|
          %li= error.full_message

  %div
    = form.label :label, style: "display: block"
    = form.text_field :label

  %div
    = form.label :user_id, style: "display: block"
    = form.text_field :user_id

  %div
    = form.label :activity_id, style: "display: block"
    = form.text_field :activity_id

  %div
    = form.submit
