%p{style: "color: green"}= notice

= render @activity_category

%div
  = link_to "Edit this category", edit_activity_category_path(@activity_category)
  |
  = link_to "Back to categories", activity_categories_path

  = button_to "Destroy this category", @activity_category, method: :delete
