#mobile-navbar.flex.justify-between.border-5.rounded-sm.m-2{data: { turbo_permanent: "true" }}
  = link_to root_path, class: "w-full flex justify-center" do
    = lucide_icon "eye", class: "size-10"
  = link_to root_path, class: "w-full flex justify-center" do
    = lucide_icon "calendar", class: "size-10"
  = link_to root_path, class: "w-full flex justify-center" do
    = lucide_icon "chart-column-big", class: "size-10"
  = link_to root_path, class: "w-full flex justify-center" do
    = lucide_icon "settings", class: "size-10"