= content_for :title, t(".title")

%h1= t(".title")
%p.mt-2.font-normal{class: "text-text/60"}= t(".subtitle")

.mt-10
  = render "form", user: @user

.mt-12= render "credits"
.mt-12= button_to t(".sign_out"), session_path, method: :delete, class: "bg-red-400 text-red-900"