.p-4.rounded-sm.bg-(--cat-bg).text-(--cat-text){id: dom_id(activity), style: "--cat-bg: #{activity.category.color}; --cat-text: #{contrasted_text_color(activity.category.color)}"}
  %h3= activity.category.label
  = "de #{l(activity.started_at, format: :short)} à #{l(activity.ended_at, format: :short)}"