!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Clocktus"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.h-screen
    = flash_toasts
    .flex.flex-col.justify-between.h-full.p-3
      = link_to root_path, class: "unstyled" do
        .relative.flex.items-center.gap-2
          .absolute.-top-1.-left-1.md:-left-3.size-6.md:size-10.-rotate-12= image_tag "flower.png"
          %h1.ms-2.font-stretch-condensed.font-extrabold.uppercase.leading-none= t("layouts.sessions.brand")


      %div.mx-auto{class: "h-1/2"}
        = yield

      %h2.self-end.text-end{class: "w-2/3 md:w-1/2 -z-10"}= t("layouts.sessions.tagline")